<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%c{2.}] %p - %m%n" />
		</Console>
	</Appenders>
	
	<Loggers>
		<Logger name="io.jutil.web" level="debug" includeLocation="false" additivity="false">
			<AppenderRef ref="stdout" />
		</Logger>
		
		<Root level="info" includeLocation="false">
			<AppenderRef ref="stdout" />
		</Root>
	</Loggers>

</Configuration>